.App {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  text-align: center;
  overflow-x: hidden;
}

.container {
  width: auto;
  background-color: #ebebeb;
  border-radius: 6px;
  margin: 20px; 
  padding: 10px;
}

/* .innner {
  width: auto;
  background-color: #ebebeb;
  border-radius: 6px;
  margin: 10px; 
  padding: 5px;
} */

.innner img {
  width: 70%;
}